<div style="margin:20px;">
<h4><b>Welcome to the website of Blood Banking of India.</h4>
This website is dedicated to information on Blood Transfusion Services and Resources. Blood Banking is the policy formulating apex body in relation to all matters pertaining to operation of blood centres. 
The Blod Banking is the central body that coordinates with the State Blood Transfusion Councils (SBTCs) and also ensures involvement of other Ministries and other health programmes for various activities relate to Blood Transfusion Services (BTS).
</div>
